<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" 
      media="screen" href="css/reset.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="css/layout.css">
  <script src="main.js"></script>
</head>
<body>
  <header class="maxw">
    <div class="logo">
      <img src="img/logo.svg" />
      <h1>CSS Box</h1>
    </div>
    
    <nav>
        <i class="fas fa-bars" id="menu_open"></i>
        <ul class="menu" id="menu">
            <li><a href="">Entrada 1 xxxx</a></li>
            <li><a href="">Entrada 2</a></li>
            <li><a href="">Entrad</a></li>
            <i class="fas fa-times" id="menu_close"></i>
        </ul>
    </nav>
  </header>

<main class="maxw">
  <article><h2>Item 1</h2></article>
  <article><h2>Item 2</h2></article>
  <article><h2>Item 3</h2></article>
  <article><h2>Item 4</h2></article>
  <article><h2>Item 5</h2></article>
  <article><h2>Item 6</h2></article>
</main>


    

</body>
</html>